@import 'variables';

:global {
    html, body {
        font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background: $color-grey;
        color: $color-dark;
    }

    html, body, #app, .container, .container-fluid {
      height: 100%;
    }

    h1 {
        font-weight: 400;
        margin: 0 0 20px 0;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.025);
    }

    h2, h3, h4, h5 {
      margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    .cf:after {
        content: "";
        display: table;
        clear: both;
    }

    .hidden {
      display: none;
    }

    .container-fluid {
      width: 100%;
    }

    .container {
      max-width: 480px;
      margin: auto;
    }

    .nav {
      display: flex;
      justify-content: space-between;
    }

    ul, ol {
      &.no-spacing {
        padding: 0;
        margin: 0;
        list-style: none;  
      }
    }

    .space-l {
      padding: 1rem;
    }

    .space-m {
      padding: 0.75rem;
    }

    .space-s {
      padding: 0.5rem;
    }

    .space-xs {
      padding: 0.25rem;
    }

    .space-clear-tb {
      padding-top: 0;
      padding-bottom: 0;
    }

    .space-clear-rl {
      padding-right: 0;
      padding-left: 0;
    }

    .component {
      max-width: 320px;
      display: flex;
      justify-content: space-between;
    }

    .grid {
      td {
        border: 1px solid black;
        padding: 5px;
        height: 40px;
        width: 40px;
        text-align: center;

        &:hover {
          background: gray;
          cursor: pointer;
        }
      }
    }

    .todolist {
      max-width: 320px;

      .todolist__todos {
        .todolist__todo {
          display: flex;
          justify-content: space-between;

          label {
            flex: 2;
          }
        }
      }
    }

    .touchable {
      &:hover {
        cursor: pointer;
        background-color: gray !important;
      }
    }

    .draggable__list {
      .draggable__item {
        border: 1px solid black;
        margin-bottom: 0.5rem;
        position: relative;
      }
    }

    .memory-game {
      display: flex;
      border: 1px solid black;
      width: 16rem;

      .memory-game__piece-container {
        font-size: 3rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        
        .memory-game__piece {
          width: 4rem;
          height: 4rem;
          backface-visibility: hidden;
          transform: rotate3d(1, 0, 0, 180deg);

          &.flip,
          &.unflip {
            transition: transform 0.25s ease-in;
          }

          &.flip {
            transform: rotate3d(1, 0, 0, 0deg);
          }

          &.unflip {
            transform: rotate3d(1, 0, 0, 180deg);
          }
        }
      }
    }
}
